/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

div.box {
    width: 150px;
    height: 150px;
}